<nav class="position-relative">
    <a href="/" class="logo d-center">
        <!-- Navbar Logo-->
        <img class="w-100" src="{{ settings.site__logo.src | img_url: 'master'}}" alt="CONVERSO">
    </a>
    <div id="topNav" class="nav-items w-fit ml-auto">
        <i class="cursor-pointer fas fa-search" id="search"></i>
        <i class="cursor-pointer fas fa-shopping-cart" id="cart"></i>
        <i class="cursor-pointer fas fa-align-justify" id="navTogglerBtnOpen"></i>
        <i class="cursor-pointer fas fa-times" id="navTogglerBtnClose"></i>
    </div>
</nav>